<div class="card blog-post">
  <img class="card-img-top" src="{{site.url}}{{site.baseurl}}{{ project.thumbnail }}" alt="{{ post.title }}">
  <div class="card-body center">
      <!-- <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="author-profile-img"> -->
      <h4 class="card-title">{{ project.title }}</h4>

      <h6 class="card-subtitle mb-2 text-muted">{{ project.date | date: "%b %-d, %Y" }}</h6>
      <p class="card-text">{{ project.summary }} </p>

      <a href="{{ project.url | prepend: site.baseurl }}" data-disqus-identifier="{{ project.url }}" class="btn btn-dark btn-lg">Read</a>
      <span class="disqus-comment-count" data-disqus-identifier="{{ project.url }}"></span>
  </div>
</div>